<html>
    <head>
        <title>Electricity Charge Calculator</title>
    </head>
    <body>
        <h1>Add or Select Your Electricity Charge Calculation lists</h1>
        <form method="POST">
            <input name="calculation_name" id="new_calculation_name" placeholder="Enter Your New Calculation Name Here" />
            {% csrf_token %}
        </form>
        <table id="calculation_name_table">
            {% for a_name in names %}
                <tr><td>{{ forloop.counter }}: {{ a_name.text }}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>
